<section class="hero" id="hero">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1>Soins infirmiers à domicile<br>Bienvenue sur Kamyce Healthcare</h1>
    <p>Des soins professionnels, humains et personnalisés directement chez vous.<br>Votre santé, notre priorité</p>
    <button routerLink="/contact" class="hero-btn">
      Nous contacter
    </button>

  </div>
</section>
<div class="services-ticker">
  <div class="ticker-track">
    <span>Soins infirmiers</span>
    <span>Soins de plaies</span>
    <span>Injections</span>
    <span>Suivi médical</span>
    <span>Soins palliatifs</span>
    <span>Prise de sang</span>
    <span>Suivi de traitements & nutrition entérale /prentérale</span>
    <span>Suivie de patients chroniques</span>
    <span>Soind d’hygiene et de confort</span>
    <span>Suivi médical</span>
    <span>Soins palliatifs</span>
    <span>Prise de sang</span>

    <span>Soins infirmiers</span>
    <span>Soins de plaies</span>
    <span>Injections</span>
    <span>Suivi médical</span>
    <span>Soins palliatifs</span>
    <span>Prise de sang</span>
    <span>Suivi de traitements & nutrition entérale /prentérale</span>
    <span>Suivie de patients chroniques</span>
    <span>Soind d’hygiene et de confort</span>
    <span>Suivi médical</span>
    <span>Soins palliatifs</span>
    <span>Prise de sang</span>
  </div>
</div>

<section class="vision-section py-5" id="vision">
  <div class="container">
    <div class="row align-items-center g-5">

      <!-- Image -->
      <div class="col-lg-6 text-center">
        <div class="image-wrapper position-relative">
          <img src="https://tse2.mm.bing.net/th/id/OIP.RSBVvlNFbuVh9FMAaiaJZgHaD3?pid=Api&P=0&h=220" alt="Vision santé" class="img-fluid rounded-4 shadow-lg">
          <h1 class="vision-title position-absolute">Vision</h1>
        </div>
      </div>

      <!-- Texte -->
      <div class="col-lg-6">
        <h3 class="fw-bold mb-3">Qui sommes-nous ?</h3>
        <p class="text-muted">
          Nous sommes une entreprise de soins infirmiers généraux à domicile, spécialisés dans le respect des prescriptions médicales :
          soins d’hygiène et de confort, injections, pansements simples et complexes, suivi de traitements et soins chroniques,
          soins post-hospitalisation, accompagnement et éducation du patient, avec une attention particulière à la continuité des soins
          et à la communication avec les différents intervenants auprès du patient.
        </p>
        <p class="fw-semibold">Infirmière conventionnée INAMI</p>

      </div>

    </div>
  </div>
</section>


<!-- Nos service -->
<section class="vision-section py-5" id="services">
  <div class="container">
    <div class="row align-items-center g-5">

      <!-- Image -->
      <div class="col-lg-6 text-center">
        <div class="image-wrapper position-relative">
          <img src="https://tse4.mm.bing.net/th/id/OIP.5dpBMVzi6ZLBU40ZVK0P8AHaE7?pid=Api&P=0&h=220" alt="Nos service" class="img-fluid rounded-4 shadow-lg">
          <h1 class="vision-title position-absolute">Services</h1>
        </div>
      </div>

      <!-- Texte -->
      <div class="col-lg-6">
        <h3 class="fw-bold mb-3">Nos services</h3>
        <p class="text-muted">
          Nous efffectuons diverse type de service pour nos patients <br>
          
        </p>
        <p class="fw-semibold">Infirmière conventionnée INAMI</p>

      </div>

    </div>
  </div>
</section>

<!-- Zone de prestation -->
<section class="vision-section py-5" id = "zone">
  <div class="container">
    <div class="row align-items-center g-5">

      <!-- Image -->
      <div class="col-lg-6 text-center">
        <div class="image-wrapper position-relative">
          <img src="https://www.union-healthcare.com/wp-content/uploads/2022/08/icones-insuline-300x300.png" alt="zone prestation" class="img-fluid rounded-4 shadow-lg">
          <h1 class="vision-title position-absolute">Zone</h1>
        </div>
      </div>

      <!-- Texte -->
      <div class="col-lg-6">
        <h3 class="fw-bold mb-3">Zones de prestations</h3>
        <p class="text-muted">
          Nous efffectuons nos prestations dan sla plus part des commune de bruxelles a savoir: <br>
          
        </p>
        <p class="fw-semibold">Infirmière conventionnée INAMI</p>

      </div>

    </div>
  </div>
</section>

<section>

  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</section>



