
.hero {
  position: relative;
  height: 100vh; /* occupe toute la hauteur de l'écran */
  background-image: url('https://images.pexels.com/photos/13879861/pexels-photo-13879861.jpeg?cs=srgb&dl=pexels-joabson-rocha-13879861.jpg&fm=jpg'); /* image de fond */
  background-size: cover; /* couvre toute la section */
  background-position: center; /* centre l'image */
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* texte en blanc */
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* voile sombre pour lisibilité du texte */
}

.hero-content {
  position: relative; /* pour être au-dessus de l'overlay */
  text-align: center;
  max-width: 800px;
  padding: 0 20px;
}

.hero-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.hero-btn:hover {
  background-color: #0056b3;
}










.services-ticker {
  width: 100%;
  overflow: hidden;
  background: #49977d;
  padding: 12px 0;
  border-top: 1px solid #1e293b;
  border-bottom: 1px solid #1e293b;
}

.ticker-track {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
  gap: 48px;
}

.ticker-track span {
  color: #e5e7eb;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.services-ticker:hover .ticker-track {
  animation-play-state: paused;
}




.vision-section {
  background: #f8f9fa;
}

.image-wrapper {
  position: relative;
}

.image-wrapper img {
  width: 80%;
  max-height: 480px;
  object-fit: cover;
}

.vision-title {
  top: 20px;
  left: 55px;
  font-size: 4rem;
  font-weight: 800;
  color: white;
  text-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}


